h1 {

    text-align: left;

}

h2 {

    font-size: x-large;

}

.div1 {

    margin: 20px;
    border: 1px solid black;
    padding: 20px;

}

.div2 {

     margin: 20px;
     border: 1px solid black;
     padding: 60px;

 }

.div3 {

    margin: 150px;
    border: 1px solid black;
    padding: 130px;
    width: 50px;
    margin-top: 40px;
    display: inline-block;

}

.div4 {

    margin: 150px;
    border: 1px solid black;
    padding: 130px;
    width: 50px;
    margin-top: 40px;
    display: inline-block;

}

.div5 {

    margin: 150px;
    border: 1px solid black;
    padding: 130px;
    width: 50px;
    margin-top: 40px;
    display: inline-block;

}

.div6 {

    margin: 20px;
    border: 1px solid black;
    padding: 60px;

}

.div7 {

    margin: 20px;
    border: 1px solid black;
    padding: 60px;

}

.div8 {

    margin: 150px;
    border: 1px solid black;
    padding: 130px;
    width: 50px;
    margin-top: 40px;
    display: inline-block;

}

.div9 {

    margin: 150px;
    border: 1px solid black;
    padding: 130px;
    width: 50px;
    margin-top: 40px;
    display: inline-block;

}

.div10 {

    margin: 150px;
    border: 1px solid black;
    padding: 130px;
    width: 50px;
    margin-top: 40px;
    display: inline-block;

}

.div11 {

    margin: 20px;
    border: 1px solid black;
    padding: 60px;

}